/* responsiveness */


body {
    font-size: 16px;
    font-family: "level";
    /* Base font size */
}

@media screen and (max-width: 1024px) {

    .nav_bar nav {
        justify-content: space-between;
    }

    /* Section 1: Hero */
    /* .section_1{
        height: 50vh;
    } */

    /* .section_title{
        height: 100%;
    } */
    .inner_html {
        margin: 0 40px;
    }

    .heading h1 {
        font-size: 3.5rem;
        /* Adjust heading size */
    }

    .section_2,
    .section_3 {
        height: auto;
        padding-bottom: 50px;
    }

    .header_2 {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .section_2 h1,
    .section_3 h1 {
        width: 100%;
        /* Full width */
    }

    .para_2 p {
        width: 90%;
        margin: 20px auto;
    }

    .cards_container {
        flex-wrap: wrap;
        gap: 20px;
        padding: 0 20px;
    }

    .cards {
        width: calc(40% - 20px);
        margin: 0;
        height: 465px;
    }

    .cards img {
        width: 100%;
        height: auto;
    }

    .mt-50 {
        margin-top: 0;
    }

    /* Section 3: About Us Specifics */
    .about_us {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .aboutus_image img {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0;
    }

    .aboutus_toggle {
        width: 90%;
    }

    /* Section 4: Explore */
    .section_4 {
        height: auto;
        padding-bottom: 50px;
    }

    .img_container {
        height: auto;
        padding: 100px 20px 50px 20px;
    }

    .section4_imgs {
        width: calc(33.33% - 20px);
        height: auto;
    }

    .section4_imgs img {
        width: 100%;
        /* height: auto; */
    }

    /* Footer Section */
    .section_footer {
        max-height: 245vh;
    }

}

@media screen and (max-width: 768px) {

    /* Navbar */
    .nav_bar nav {
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        /* display: none; */
    }

    .nav_logo img {
        width: 150px;
    }

    #florenza-logo {
        width: 80px;
        height: 95px;
    }

    .main {
        width: 100%;
    }

    .nav_logo {
        justify-content: flex-start;
        margin-left: 20px;
        width: auto;
    }

    .nav_bar {
        justify-content: space-between;
    }

    .hmburger {
        right: 20px;
        width: 45px;
    }

    /* Section 1: Hero */
    .inner_html {
        margin: 0 20px;
    }

    .heading h1 {
        font-size: 2.5rem;
    }

    .para {
        font-size: 16px;
    }

    .btn1 button,
    .btn2 button,
    .btn_s4 button {
        width: 180px;
        height: 55px;
        font-size: 1rem;
    }

    /* Section 2: Services */
    .cards_container {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 80%;
        max-width: 350px;
    }

    /* Section 4: Explore */
    .section4_imgs {
        width: calc(50% - 10px);
        /* Two images per row */
    }

    .about-hero h1 {
        font-size: 2rem;
    }

    .mini-hero .content {
        text-align: center;
    }

    .contact-info {
        margin-top: 20px;
    }

    .nav_bar {
        width: 100%;
        position: absolute;
    }
}

@media screen and (max-width: 480px) {

    /* nav logo's */
    .nav_logo img {
        width: 160px;
    }



    /* Section 1: Hero */
    .image {
        width: 10%;
    }

    .inner_html h5 {
        margin-bottom: 15px;
    }

    .heading h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .para {
        font-size: 14px;
    }

    /* Section 2: Services */
    .header_2 {
        margin-top: 40px;
    }

    .section_2 h1,
    .section_3 h1,
    .header_3 {
        font-size: 1.8rem;
    }

    .para_2 p {
        font-size: 1rem;
        width: 90%;
    }

    .cards {
        width: 90%;
    }

    /* Services info toggle */
    .cards_info h5 {
        font-size: 1.1rem;
    }

    .extra_info p {
        font-size: 0.9rem;
    }

    /* Section 4: Explore */
    .section4_imgs {
        width: 90%;
        /* One image per row */
    }

    .img_container {
        padding-top: 80px;
    }

    .header_3 {
        position: relative;
        margin-bottom: 20px;
        width: 90%;
        text-align: center;
    }

    /* About page section */
    .about-section .col-md-7 p {
        font-size: 0.95rem;
        text-align: left;
    }

    .main {
        width: 100%;
    }

}


@font-face {
    font-family: "level";
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "levels";
    src: url(fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@media screen and (min-width:1290px) {
    body {
        font-family: "level";
    }



    .inner_html {
        margin: 0 40px;
    }

    .heading h1 {
        font-size: 4rem;
        /* Adjust heading size */
    }

    .section_2,
    .section_3 {
        height: auto;
        padding-bottom: 20px;
        margin: 40px 0px;
    }

    .header_2 {
        /* flex-direction: column; */
        align-items: flex-start;
        gap: 20px;
    }

    .section_2 h1,
    .section_3 h1 {
        width: 60%;
        font-size: 50px;
        font-family: "level";
        /* Full width */
    }

    .para_2 p {
        width: 90%;
        margin: 20px 50px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;

    }

    .grey {
        /* font-size: 50px; */
        font-family: "level";

    }

    .cards_container {
        /* flex-wrap: wrap; */
        gap: 60px;
        padding: 0 20px;
    }

    .cards {
        width: 20%;
        margin: 0;
    }

    .cards img {
        /* width: 22%; */
        height: auto;
    }

    .mt-50 {
        margin-top: 50px;
    }

    /* Section 3: About Us Specifics */
    .about_us {
        flex-direction: column;
        align-items: center;
        /* gap: 220px; */
    }

    .aboutus_image img {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0;
    }

    .aboutus_toggle {
        width: 90%;
    }

    /* Section 4: Explore */
    .section_4 {
        height: auto;
        /* padding-bottom: 50px; */
    }

    .img_container {
        height: auto;
        /* padding: 100px 20px 50px 20px; */
    }

    /* Footer Section */
    .section_footer {
        max-height: 245vh;
    }

    .btn2 button {
        background-color: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 12px;
        color: rgb(0, 0, 0);
        padding: 8px 20px;
        width: 220px;
        height: 65px;
        gap: 10px;
        font-size: 22px;
        margin: 25px;
    }
    /* .header-new{
        width: 12px;
    } */

    .inner_html {
        margin: 5%;
    }

    .inner_html h5 {
        font-size: 20px;
    }

    .inner_html p {
        font-size: 22px;
    }

    .heading h1 {
        font-size: 80px;
    }




}

@media screen and (max-width:1200px) {

    .plan-container {
        width: 100%;
        justify-content: center;
    }

    .plan {
        width: 30%;
    }

    .plan p {
        font-size: 18px;
    }

    .line1 {
        width: 100%;
    }

    .plan-container h2 {
        font-size: 19px;
    }

    .plan-container span {
        font-size: 12px;
    }

    .plan-container img {
        width: 12px;
    }

    .line2 {
        width: 95%;
    }

    .plan {
        height: auto;
        margin-bottom: 10%;

    }
}